.container {
  display: flex;
  height: 100vh;
}

.spinner {
  margin: auto;
  position: relative;
}

.spinner-text {
  font-size: 16px;
  font-family: monospace;
  text-transform: uppercase;
  animation: blinking 2s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

.rect {
  position: absolute;
  width: 10px;
  height: 4px;
  background-color: #000000;
  border-radius: 2px;
  animation: moving 2s, blinking 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}
